EMBEDDING_SERVING_URL="http://localhost:8899/forward"
REVIEW_COLLECTION_NAME="spotify_review_3"
CACHE_DIR=".cache_2"
VECTOR_SIZE=128
API_PORT=8093
TEMPERATURE=0
TOPN=1000
OLLAMA_CHAT_MODEL="llama3.2:1b"
